{% extends "base.html" %}

{% block content %}
<div class="container mt-4">
    <h2 class="spiritual-text">All Visitors</h2>
    
    <div class="card">
        <div class="card-header">
            <h5>Visitor Records</h5>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Age</th>
                            <th>Phone</th>
                            <th>Email</th>
                            <th>Address</th>
                            <th>User</th>
                            <th>Booking ID</th>
                            <th>Temple</th>
                            <th>Date</th>
                            <th>Time Slot</th>
                            <th>Registered</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for visitor in visitors %}
                        <tr>
                            <td>{{ visitor[1] }}</td>
                            <td>{{ visitor[2] }}</td>
                            <td>{{ visitor[3] }}</td>
                            <td>{{ visitor[4] }}</td>
                            <td>{{ visitor[5] }}</td>
                            <td>{{ visitor[6] }}</td>
                            <td>{{ visitor[7] }}</td>
                            <td>{{ visitor[8] }}</td>
                            <td>{{ visitor[9] }}</td>
                            <td>{{ visitor[10] }}</td>
                            <td>{{ visitor[11] }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}